body {
	background-image: url("images/background.gif");
	margin: 0 auto;
	width: 70%;
}

div.all {
	border: 10px solid white;
	margin-top: 10px;
	background-color: white;
	overflow: hidden;
}

div.part1 {
	background-color: #A8F0F0;
	text-align: right;
}

div.box1 {
	position: relative;
}

div.friends {
	background-color: #99e0e0;
	position: absolute;
	top: 10px;
	width: 160px;
	border: 4px solid;
}

ul.fl {
	margin: 20px 10px 20px 35px;
}

div.part2, .part3 {
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	margin-top: 10px;
	margin-left: 180px;
	overflow: hidden;
}

#oh {
	font-size: 14px;
}

span.time {
	border-bottom: 2px dashed #009097;
}

img.img1 {
	float: right;
}

.image {
	overflow: hidden;
}

div *:not(div):hover {
	background-color: yellow;
}
